appdirs==1.4.3
audioread==2.1.4
configparser==3.5.0
cycler==0.10.0
Cython==0.25.2
dask==0.12.0
decorator==4.0.10
enum34==1.1.6
flake8==3.2.1
funcsigs==1.0.2
h5py==2.6.0
joblib==0.10.3
-e git+https://github.com/librosa/librosa.git@01951000f20105ef31a4f80e897cd41c386b9314#egg=librosa
matplotlib==1.5.3
mccabe==0.5.2
mock==2.0.0
networkx==1.11
numpy==1.12.1
olefile==0.44
packaging==16.8
pbr==2.0.0
Pillow==3.4.2
protobuf==3.1.0
pycodestyle==2.2.0
pyflakes==1.3.0
-e git+git://github.com/cjam/pyONC.git#egg=pyonc
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyWavelets==0.5.2
requests==2.13.0
resampy==0.1.5
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
tensorflow==1.0.0
tflearn==0.3
toolz==0.8.1
